@using System.Collections.Generic;
@using System.Linq;
@using WebAppHosted.Client.Models;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@page "/"

<div class="container">
    <div class="row justify-content-between">
        <div class="col-6">
            <h3>Todo (@todos.Count())</h3>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>Text</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                @foreach (var todo in todos)
                {
                    <tr class="text-center">
                       <td class="align-middle py-1">
                            <input type="text" class="form-control" @bind="@todo.Title" @onfocusout="@(() => Save(todo))"/></td>
                       <td class="align-middle py-1">
                            <button type="button" class="btn btn-outline-danger oi oi-minus" @onclick="@(() => Remove(todo))"></button>
                       </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <input type="text" class="form-control" placeholder="Something todo" @bind="newTodo"/>
        </div>
        <div class="col-2">
            <button type="button" class="oi oi-plus" @onclick="@AddTodo"></button>
        </div>
    </div>
</div>

@code {
    private List<TodoItem> todos = new List<TodoItem>();
    private string newTodo;

    protected override async Task OnInitializedAsync(){
        todos = (await localStorage.GetItemAsync<List<TodoItem>>("todo"))
            ?.ToList()
             ??  todos;
    }

    private async Task AddTodo()
    {
        if(!string.IsNullOrWhiteSpace(newTodo))
        {
            var newTodoItem = new TodoItem { Title = newTodo };
            todos.Add(newTodoItem);
            await localStorage.SetItemAsync("todo", todos);

            newTodo = string.Empty;
        }
    }

    private async Task Remove(TodoItem todoToRemove)
    {
        todos.Remove(todoToRemove);
        await localStorage.SetItemAsync("todo", todos);
    }

    private async Task Save(TodoItem todo)
    {
        await localStorage.SetItemAsync("todo", todos);
    }
}